<!--INICIO CARROUSEL IMAGENES-->
<div id="carouselExampleSlidesOnly" class="carousel slide carrousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://quefacernacosta.desarrollo.atendadoslibros.com/images/Cheering-Crowd_02.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://quefacernacosta.desarrollo.atendadoslibros.com/images/Park-Lapse.jpg" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://quefacernacosta.desarrollo.atendadoslibros.com/images/Youth_play.jpg" class="d-block w-100"
                alt="...">
        </div>
    </div>
</div>
<!--FIN CARROUSEL DE IMAGENES-->

<!--INICIO DIV LETRAS ENCIMA CARROUSEL-->

<div class="titulos">
    <p class="textoTituloTop col-12">O BUSCADOR DE EVENTOS DA COSTA DA MORTE</p>
    <p class="textoTitulo col-12">Busca que facer...</p>
</div>

<!--FIN DIV LETRAS ENCIMA CARROUSEL-->
<!--FORMULARIO-->
<!--Hai que implementalo. Mentres usamos un por defecto de Bootstrap-->
<div class="container formulario">
    <form (ngForm)="eventForm" #eventForm="ngForm" (ngSubmit)="sendData()">
        <div class="form-row">
            <div class="col-12 col-md-5">
                <input type="text" class="form-control" placeholder="Que tipo de evento buscas?"
                    [(ngModel)]="categorias" name="categorias">
            </div>
            <div class="col-12 col-md-4">
                <input type="text" class="form-control" placeholder="Onde?" [(ngModel)]="concellos" name="concellos">
            </div>
            <div class="col-12 col-md-1"> <button type="submit" class="btn btn-primary boton">Buscar</button>
            </div>
        </div>
    </form>
</div>
<!--FIN FORMULARIO-->
<!--MENU FILTRADO -->
<!--
<div class="container-fluid menuBotones">
    <div class="row">
        <div class="col-12 col-md-3 textoBotones2">
            <h2>Que facer...</h2>
        </div>
        <div class="col-12 col-md-6">
            <button type="button" class="btn btn-light boton">Hoxe</button>
            <button type="button" class="btn btn-light boton">Esta semana</button>
            <button type="button" class="btn btn-light boton">Con nenos</button>
        </div>
    </div>
</div>
-->
<!--FIN MENU FILTRADO -->


<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="navTitle">
                <h3>Que queres facer...</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Destacados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hoxe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Esta semana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Con nenos</a>
            </li>
        </ul>
    </div>
    <!-- <app-eventos-all></app-eventos-all>-->
</div>