<!--INICIO CARROUSEL IMAGENES-->
<div id="carouselExampleSlidesOnly" class="carousel slide carrousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://quefacernacosta.desarrollo.atendadoslibros.com/images/Cheering-Crowd_02.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://quefacernacosta.desarrollo.atendadoslibros.com/images/Park-Lapse.jpg" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://quefacernacosta.desarrollo.atendadoslibros.com/images/Youth_play.jpg" class="d-block w-100"
                alt="...">
        </div>
    </div>
</div>
<!--FIN CARROUSEL DE IMAGENES-->

<!--INICIO DIV LETRAS ENCIMA CARROUSEL-->

<div class="titulos">
    <p class="textoTituloTop col-12">O BUSCADOR DE EVENTOS DA COSTA DA MORTE</p>
    <p class="textoTitulo col-12">Busca que facer...</p>
</div>

<!--FIN DIV LETRAS ENCIMA CARROUSEL-->
<!--FORMULARIO-->
<!--Hai que implementalo. Mentres usamos un por defecto de Bootstrap-->
<div class="container formulario">
    <form (ngForm)="eventForm" #eventForm="ngForm" (ngSubmit)="sendData()">
        <div class="form-row">
            <div class="col-12 col-md-5">
                <label for="exampleInputClasificacion ">Que queres facer?</label><br>
                <!--<input type="number" [(ngModel)]="fk_clasificacion" name="clasificacion">-->
                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="categorias"
                    name="clasificacion">
                    <option value=""></option>
                    <option *ngFor='let categoria of datosCategorias' value="{{categoria.id}}">
                        {{categoria.categoria}}</option>
                </select>
            </div>
            <div class="col-12 col-md-4">
                <label for="exampleInputClasificacion ">Onde?</label><br>
                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="concellos" name="concellos">
                    <option value=""></option>
                    <option *ngFor='let concello of datosConcellos' value="{{concello.id}}">
                        {{concello.concello}}</option>
                </select>
            </div>
            <div class="col-12 col-md-1"> <button type="submit" class="btn btn-primary boton">Buscar</button>
            </div>
        </div>
    </form>
</div>
<!--FIN FORMULARIO-->
<!--MENU FILTRADO -->
<!--
<div class="container-fluid menuBotones">
    <div class="row">
        <div class="col-12 col-md-3 textoBotones2">
            <h2>Que facer...</h2>
        </div>
        <div class="col-12 col-md-6">
            <button type="button" class="btn btn-light boton">Hoxe</button>
            <button type="button" class="btn btn-light boton">Esta semana</button>
            <button type="button" class="btn btn-light boton">Con nenos</button>
        </div>
    </div>
</div>
-->
<!--FIN MENU FILTRADO -->


<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="navTitle">
                <h3>Que queres facer...</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Destacados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hoxe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Esta semana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Con nenos</a>
            </li>
        </ul>
        <div class="card-group">
            <div *ngFor='let evento of eventos'>
                <div class="card eventCard" style="width: 18rem;">
                    <div class="card-header">
                        <h6>{{evento.categoria}}</h6>
                    </div>
                    <img src="{{evento.imagen}}" style="height:200px ;" class="card-img-top"
                        alt="{{evento.nombreEvento}}">
                    <div class="card-body">
                        <h5 class="card-title">{{evento.nombreEvento}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{evento.artista}}</h6>
                        <p class="card-text"> <b>Lugar: </b>{{evento.concello}}<br>
                            <b>Data: </b> {{evento.fecha_in|date:"EEE, d  MMM" }} <b>Hora: </b> {{evento.fecha_in|date:"hh:mm"
                          //Utilizamos un pipe para darle formato a la hora
                                                                }}</p>

                        <a href="#" class="btn btn-primary">Boton especial</a>
                    </div>
                </div>

            </div>
        </div>