/*FOOTER*/
.footer {
  background-color: #636e72;
  color: #ffff;
  padding: 10px;
}

.footer-down {
  background-color: #636e72;
  color: #ffff;
  text-align: center;
}

ul {
  list-style-type: none;
}
