<div class="container-fluid">
    <div class="row footer">
        <div class="col-xs-6 col-sm-6 col-md-4">
            <ul>
                <li><b>Como funciona QueFacerNaCosta</b></li>
                <li>Engadir evento</li>
                <li>Identificarse</li>
                <li>Rexistrarse</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
            <ul>
                <li><b>Buscar Eventos</b></li>
                <li>Que facer en Carballo</li>
                <li>Que facer en Cee</li>
                <li>Que facer en Vimianzo</li>
                <li>Que facer en calquera concello</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
            <ul>
                <li><b>Quen somos</b></li>
                <li>Acerca de nós</li>
                <li>Política de privacidade</li>
                <li>Contacto</li>
                <li>Facebook</li>
                <li>Instagram</li>

            </ul>
        </div>
    </div>
</div>
<div class="container-fluid"></div>
<div class="footer-down">
    <p>©2020 QueFacerNaCosta. Todos os dereitos reservados</p>
</div>