<!--INICIO BARRA DE NAVEGACIÓN SUPERIOR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand titulo" href="#"><b>QueFacerNaCosta</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <!--<a class="nav-link" href="#">Envíar Evento <span class="sr-only">(current)</span></a>-->
                <button type="button" class="btn btn-primary" (click)=" enviarEvento()">Enviar Evento</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Iniciar sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Facebook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Instagram</a>
            </li>
            <li><button class="btn btn-primary" (click)="logout()">Logout</button></li>
        </ul>
    </div>
</nav>
<!--FINAL DE LA BARRA SUPERIOR DE NAVEGACION-->