<!--ESTE COMPONENTE PINTA LOS DATOS DEL USUARIO DESPUÉS DE LOGUEARSE. PARA CCEDER ADEMÁS DE ESTAR LOGUEADO DEBE SER ADMINISTRADOR
MUESTRA UN LATERAL CON LOS DATOS BÁSICOS DEL USUARIO, PERMITE MEDIANTE UNA LLAMADA PUT A LA BASE DE DATOS:
>CAMBIAR EL NOMBRE DE USUARIO
>CAMBIAR EL CORREO ELECTRÓNICO 
>CAMBIAR LA CONTASEÑA
>RECUPERAR UNA CONTRASEÑA OLVIDADA

USUARIOS
>BORRAR TODOS LOS DATOS DEL USUARIO
>BORRAR TODOS LOS DATOS DE TODOS LOS USUARIOS
>OBTENER LOS DATOS DE UN USUARIO
>OBTENER LOS DATOS DE TODOS LOS USUARIOS 
>MODIFICAR LOS DATOS DE CUALQUIER USUARIO

EVENTOS
>BORRAR TODOS LOS DATOS DE UN EVENTO
>RECUPERAR LOS DATOS DE TODOS LOS EVENTOS
>RECUPERAR LOS DATOS DE TODOS LOS EVENTOS PUBLICADOS
>RECUPERAR LOS DATOS DE TODOS LOS EVENTOS SIN PUBLICAR
>MODIFICAR LOS DATOS DE CUALQUER EVENTO
>CREAR UN EVENTO


-->


<p>user-id-admin works!</p>