<!--EN ESTE COMPONENTE PINTAMOS UN EVENTO QUE HA SIDO SELECCIONADO EN OTRO COMPONENTE. DESDE AHÍ SE PASAN LOS DATOS DE LA ID Y SE RECUPERAN LOS DATOS DEL EVENTO HACIENDO UNA LLAMADA PUT A LA BASE DE DATOS EVENTOS.-->


<div class="container-fluid ">

    <div class="proba" *ngFor='let evento of eventos'>

        <div class="card ">
            <img src="{{evento.imagen}} " class="card-img imagenDeEvento " alt="{{evento.nombreEvento}}">


            <div class="card-img-overlay  text-white ">
                <p class="btn btn-light rounded-pill " disabled>{{evento.categoria}}</p>
                <h1 class="card-title"><b>{{evento.nombreEvento}}</b></h1>
                <h5 class="card-text">{{evento.artista}}</h5>
                <h5 class="card-text">{{evento.concello}}</h5>
            </div>
            <div class=" row card-body">
                <div class="left col-6 col-md-4 card-header">
                    <h5 class="card-title"> <img src="../../assets/images/iconos/event-black-18dp.svg"
                            alt="iconoDeLocalizacion" width="40px">Data</h5>
                    <h5><b>{{evento.fecha_in|date:"EEE, d MMM"}}</b></h5>
                </div>
                <div class="left col-6 col-md-4 card-header">
                    <h5 class="card-title"> <img src="../../assets/images/iconos/alarm-black-18dp.svg"
                            alt="iconoDeLocalizacion" width="40px">Hora</h5>
                    <h5><b>{{evento.hora}}</b></h5>
                </div>
                <div class="left col-12 col-md-4 card-header">
                    <h5 class="card-title"><img src="../../assets/images/iconos/location_on-black-18dp.svg"
                            alt="iconoDeLocalizacion" width="40px"> Lugar</h5>

                    <h5><b>{{evento.concello}}</b></h5>
                    <p><b>{{evento.location1}}</b></p>
                    <p><b>{{evento.localizacion2}}</b></p>
                </div>

            </div>
            <div class="row">
                <div class="right col-12 col-md-8">
                    <h5 class="card-title descricion">Descrición</h5>
                    <p class="descricion">{{evento.descripcion}}</p>
                </div>
                <div class="left col-12 col-md-4 imagenLateral"><img src="{{evento.imagen}} " class="card-img"
                        alt="{{evento.nombreEvento}}" width="100%"></div>

            </div>
        </div>
    </div>

</div>


<!--
<div *ngFor='let evento of eventos'></div>
<div class="card bg-dark text-white">
    <img src=" " class="card-img" alt="">
    <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>-->