<!--ESTE COMPONENTE PINTA LOS DATOS DEL USUARIO DESPUÉS DE LOGUEARSE
MUESTRA UN LATERAL CON LOS DATOS BÁSICOS DEL USUARIO, PERMITE MEDIANTE UNA LLAMADA PUT A LA BASE DE DATOS:
> CAMBIAR EL NOMBRE DE USUARIO
>CAMBIAR EL CORREO ELECTRÓNICO 
>CAMBIAR LA CONTASEÑA
>RECUPERAR UNA CONTRASEÑA OLVIDADA

MEDIANTE UNA LLAMADA DELETE
>BORRAR TODOS LOS DATOS DE UN USARIO

MEDIANTE UNA LLAMADA GET
RECUPERAR TODOS LOS EVENTOS DE UN USUARIO

MEDIANTE UN ENLACE O BOTÓN
>REDIRIGIR AL COMPONENTE EVENTOS-NEW PARA INTRODUCIR UN EVENTO

-->

<div class="container ">
    <div class="proba" *ngFor='let usuario of usuarios'>
        <!--  <p>{{usuario.nombreUsuario}}</p>
        <p>{{usuario.email}}</p>-->

        <div class="row">
            <div class="col-12 col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/iconos/iconoweb_png.png" class=" rounded-circle" avatarImage
                        alt="icono">
                    <div class="card-body">
                        <h5 class="card-title">{{usuario.nombreUsuario}}</h5>
                        <p class="card-text">{{usuario.email}}</p>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" (click)="userUpdate()">Cambiar datos</button>

                        <button type="button" class="btn btn-danger" (click)="userDelete()">Eliminar usuario</button>
                    </div>
                </div>


            </div>
            <div class="col-12 col-md-8" style="background-color: red;height: 150px;"></div>



        </div>
    </div>
</div>